# XeLaTeX auxiliary files
*.aux
*.log
*.out
*.synctex.gz
*.toc

# Biber auxiliary files
*.bbl
*.bcf
*.blg
*.run.xml

# Kile auxiliary files
*.kate-swp

# Minted auxiliary folder
src/_minted-main/

# pdf output files
src/*.pdf
